{% extends 'managertemplates/base.html' %}
{% load static %}
{% block title %}Advance Search form{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-md-2 grid-margin stretch-card"></div>
  
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center text-primary pb-3">Advance Search Form</h3>
          <form class='login-form' method='GET' action="{% url 'ad_search_manager' %}">
          {% csrf_token %}
  
          <div class="form-group row">
            <label for="filename" class="col-sm-3 col-form-label">File Name</label>
            <div class="col-sm-9">
                <input type="search" class="form-control"  aria-label="Search" name="filename" id="filename" placeholder="File Name">
            </div>
          </div>
  
          
  
          <div class="form-group row">
            <label for="file_numble" class="col-sm-3 col-form-label">File Number</label>
            <div class="col-sm-9">
                <input type="search" class="form-control" id="file_numble" aria-label="Search" name="filenumble" placeholder="File numble">
            </div>
          </div>
  
  
          <div class="form-group row">
            <label for="dp" class="col-sm-3 col-form-label">Departmant</label>
            <div class="col-sm-9">
                <select aria-label="Search" name="department" id="dp" class="form-control">
                    <option value="Department">Select Department</option>
                    <option value="Civil">Civil</option>
                    <option value="Mechanical">Mechanical</option>
                    <option value="Computer">Computer</option>
                    <option value="BCA">BCA</option>
                </select>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Document Type</label>
            <div class="col-sm-3">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" aria-label="Search"  name="file_type" id="DOC" value="DOC" checked> DOC</label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" aria-label="Search" name="file_type" id="PDF" value="PDF"> PDF</label>
             </div>
            </div>
            <div class="col-sm-3">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" aria-label="Search" name="file_type" id="EXE" value="EXE"> EXE</label>
              </div>
            </div>
          </div>
  
          <button type="submit" class="btn btn-primary">Advance Search</button>
          </form>
        </div>
      </div>
    </div>
    <!-- col-8 end -->
  
    <div class="col-md-2 grid-margin stretch-card"></div>
  
  </div>
{% endblock content %}